.highlighted-text{
    color: #2d3291;
}
.container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap:50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px
}
.cart-container{
    background-color: #74baff56;
    height: fit-content;
    width: 100%;
    padding: 35px 12px;
    border-radius: 8px;
    position: sticky; 
    top: 20px;
}
.cart-container h3{
    font-weight: 400;
}