.highlighted-text{
    color: #2d3291;
}
.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px
}
.cart-container{
    background-color: #74baff83;
    height: fit-content;
    padding: 35px 12px;
    border-radius: 8px;
    /* position: fixed; */
    /* right: 0; */
}
.cart-container h3{
    font-weight: 400;
}